
body {
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* background-color: #0051B5; */
}

h1#title {
  font-size: 250px;
  font-family: Montserrat;
  text-align: center;
  font-variant: all-petite-caps;
  margin: 0;
}

  #container {
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 0;
    margin-bottom: -40px;
    /* background-color: #0073ff; */
    background: linear-gradient(180deg, rgba(0,81,181,1) 0%, rgba(0,40,175,1) 50%, rgba(0,0,100,1) 100%) no-repeat;
  }

  #graphic {
    margin: auto;
    max-width: 80%;
  }

  #titanic-waves {
    margin-top: -600px;
    margin-bottom: -40px;
    background-color: white;
  }
/*   
  svg {
    width: 90%;
    max-height: 90%;
  } */

  #boat {
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(2deg);
  }


  .logo.is-animation {
    margin-top: 0.6em;
    text-align: center;
  }
  
  .logo.is-animation span {
    display: inline-block;
    font-size: 200px;
    animation: wave-text 2s ease-in-out infinite;
  }
  
  .logo.is-animation span:nth-of-type(1) {
    animation-delay: 0s;
 }
  .logo.is-animation span:nth-of-type(2) {
    animation-delay: 0.1s;
 }
  .logo.is-animation span:nth-of-type(3) {
    animation-delay: 0.2s;
 }
  .logo.is-animation span:nth-of-type(4) {
    animation-delay: 0.3s;
 }
  .logo.is-animation span:nth-of-type(5) {
    animation-delay: 0.4s;
 }
 .logo.is-animation span:nth-of-type(6) {
  animation-delay: 0.5s;
}
.logo.is-animation span:nth-of-type(7) {
  animation-delay: 0.6s;
}
  
  
  @keyframes wave-text{
    00%{
      transform: translateY(0em);
    }
    60%{
      transform: translateY(-0.1em);
    }
    100%{
      transform: translateY(0em);
    }
  }
