
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    /* background-color: #0073ff; */
    max-width: 80%;
  }
  
  svg {
    width: 90%;
    max-height: 90%;
  }
